version: "3"

services:
  vicon_bridge:
    image: vicon_bridge:latest
    build: .docker
    network_mode: host
    env_file: .env 
    privileged: true
    tty: true # docker run -t
    volumes:
     - ./activate_vicon.sh:/colcon_ws/activate_vicon.sh
    command: bash /colcon_ws/activate_vicon.sh

  rviz:
    image: vicon_bridge:latest
    build: .docker
    env_file: .env
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    command: /bin/bash -c 'source /catkin_ws/devel/setup.bash && ros2 run rviz2 rviz2'

  bash:
    image: vicon_bridge:latest
    build: .docker
    env_file: .env
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    volumes:
      rosbags:/colcon_ws/rosbags
    command: bash
